.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#fondo{
    width: 90em;
    height: 45em;
    background-image: url('/assets/little planet 2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
}