<div class="card bg-white text-dark" style="border-bottom: 10px; border-color:aliceblue;">

    <div class="card-body">

        <form ngNativeValidate [formGroup]="form" (ngSubmit)="create()">
            <mat-grid-list cols="1" rowHeight="200px">
                <mat-grid-tile>
                    <div class="controles-container">
                        <mat-form-field>
                            <input type="text" formControlName="nombre" name="nombre" matInput placeholder="Nombre" [(ngModel)]="productos.nombre" required />
                        </mat-form-field>
                        <mat-form-field>
                            <input type="text" formControlName="categoria" matInput placeholder="Categoria" name="categoria" [(ngModel)]="productos.categoria" required />
                        </mat-form-field>
                        <mat-form-field>
                            <input type="text" formControlName="descripcion" matInput placeholder="Descripción" name="descripcion" [(ngModel)]="productos.descripcion" required />
                        </mat-form-field>
                        <mat-form-field> 
                            <input type="text" formControlName="precio" matInput placeholder="Precio" pattern="^[0-9.]*$" name="precio" [(ngModel)]="productos.precio" required />
                        </mat-form-field>
                        <mat-form-field> 
                            <input type="text" formControlName="stock" matInput placeholder="Stock" pattern="^[0-9.]*$" name="stock" [(ngModel)]="productos.stock" required />
                        </mat-form-field>
                    </div>

                </mat-grid-tile>
                <!-- <strong>{{form.value.nombre}}</strong>
                <strong>{{form.value.categoria}}</strong>
                <strong>{{form.value.descripcion}}</strong>
                <strong>{{form.value.precio}}</strong>
                <strong>{{form.value.stock}}</strong> -->
        </mat-grid-list>
        </form>
        
        <div class="form-group-row" *ngIf="!productos.idProducto else elseBlock">
            <div class="col-sm-6">
                <button class="btn btn-primary" role="button" style="height: 40px; width: 100px; margin-right: 15px;"
                    (click)="create()">Crear</button>
                <button class="btn btn-danger" role="button" (click)="cancelar()">Cancelar</button>
            </div>
        </div>

        <ng-template #elseBlock>
            <div class="form-group-row">
                <div class="col-sm-6">
                    <button style="margin-right:15px;" class="btn btn-primary" role="button" (click)='update(productos.idProducto)'>Editar</button>
                    <button class="btn btn-danger" role="button" (click)="cancelar()">Cancelar</button>
                </div>
            </div>
        </ng-template>
        <form (ngSubmit)="onUpload()" novalidate enctype="multipart/form-data">
            <div>
                <input type="file" class="custom-file-input" id="imagen" #imagenInputFile
                (change)="onFileChange($event)" accept="image/png, image/jpeg, image/gif">
                <label class="custom-file-label" for="imagen">Elegir Imagen</label>
            </div>
            <div *ngIf="imagen" class="mt-5">
                <h5>Vista Previa:</h5>
                <div>
                    <img class="image-thumbnail" style="max-width: 100px;" [src]="imagenMin">
                </div>
            </div>
            <div class="form-group d-flex justify-content-between my-3">
                <!-- <button type="submit" class="btn btn-outline-success" [disabled]="!imagen">Subir imagen</button> -->
            </div>
        </form>
    </div>
</div>