<div class="modal-header">
    <h5 class="modal-title">Productos</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" 
    (click)="cerrar()">
        <span aria-hidden="true"></span>
    </button>
</div>
<div class="modal-body">
    <swiper [config]="config">
        <div *ngFor="let imagen of imagenes" class="swiper-slide">
            <div class="thumbnail text-center" style="height: 500px;">
               <img class="img-thumbnail img-rounded" src="{{imagen.imagenUrl}}">
            </div>
        </div>
    </swiper>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-primary btn-block" 
    (click)="cerrar()"><mat-icon style="font-size: 20px;">cancel</mat-icon> Cerrar</button>
</div>