<div class="container">
  <mat-toolbar>
    <span>Productos</span>
  </mat-toolbar>
  <div class="my-2 text-left">
    <button class="btn btn-rounded btn-success" style="float: right;" type="button" (click)="openDialog(0)">Crear</button>
  </div>
  <mat-form-field appearance="standard">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input />
  </mat-form-field>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" mat-sort>
      <ng-container matColumnDef="idProducto">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let productos">{{ productos.idProducto }}</td>
      </ng-container>
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let productos">{{ productos.nombre }}</td>
      </ng-container>
      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef>Categoria</th>
        <td mat-cell *matCellDef="let productos">{{ productos.categoria }}</td>
      </ng-container>
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef>Descripción</th>
        <td mat-cell *matCellDef="let productos">{{ productos.descripcion }}</td>
      </ng-container>
      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef>Precio</th>
        <td mat-cell *matCellDef="let productos">{{ productos.precio }}</td>
      </ng-container>
      <ng-container matColumnDef="stock">
        <th mat-header-cell *matHeaderCellDef>Stock</th>
        <td mat-cell *matCellDef="let productos">{{ productos.stock }}</td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let productos;  index as i" style="text-align: center">
          <a class="pointer" (click)="abrirModal(i)" matTooltip="Ver Imagen">
            <mat-icon style="color: rgb(29, 96, 240);"> insert_photo</mat-icon>
          </a>
          <a>
            <mat-icon style="font-size: 1px;"> clear_all</mat-icon>
          </a>
          <a>
            <mat-icon style="font-size: 1px;"> clear_all</mat-icon>
          </a>
          <a>
            <mat-icon style="font-size: 1px;"> clear_all</mat-icon>
          </a>
          <a class="pointer" matTooltip="Editar Producto"
          (click)="openDialog(productos.idProducto)">
            <mat-icon style="color: rgb(218, 218, 20);">mode </mat-icon>
          </a>
          <a class="pointer" (click)="delete(productos.idProducto)" matTooltip="Eliminar Producto">
            <mat-icon color="warn">delete </mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[3, 6, 9, 100]" aria-label="Seleccione la pagina de pedidos"></mat-paginator>
  </div>
</div>
<br>