.body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #423E3E;
    color: #fff;
    padding-top:100px;
    
}
.title{
    color: #fff;
}

.login{
    width: 100%;
    max-width: 330px;
    padding: 20px;
    margin: auto;
    text-align: center;
    color: #fff;
    height: 52em;
}

.ancho {
    width: 80%;
    color: #fff;
  }

  .matt-form-field input{
    color: #fff;
  }
.button{
    height: 50px;
}

.spinner {
    margin: 0 auto;
}