<main class="wrapper navbar">
  <div class="content card border-primary mb-3" style="width: 60%">
    <h1>
      <span> Pedidos</span>
    </h1>
    <div >
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Fecha</th>
            <th>N orden</th>
            <th>Cliente</th>
            <th>Estado</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pedidos of Pedidos">
            <td>{{ pedidos.id }}</td>
            <td>{{ pedidos.fecha }}</td>
            <td>{{ pedidos.n_orden }}</td>
            <td>{{ pedidos.cliente }}</td>
            <td>{{ pedidos.estado }}</td>
            <td>{{ pedidos.total }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <aside ui-view class="ng-scope" style="width: 35%; display:float;">
    <div class="content">
      <h2>
        <span> Pedidos</span>
      </h2>
      <div>
        <section>
          <ul>
            <li>
              <label>
                <span>Id </span>
                <strong> Hola</strong>
              </label>
            </li>
            <li>
              <label>
                <span>Fecha </span>
                <strong> Hola</strong>
              </label>
            </li>
            <li>
              <label>
                <span>N Orden </span>
                <strong>Hola </strong>
              </label>
            </li>
            <li>
              <label>
                <span>Cliente </span>
                <strong> OLa</strong>
              </label>
            </li>
          </ul>
        </section>
        <section>
          <h3>Descripcion</h3>
          <section>
            <ul>
              <li>
                <div>
                  <span> </span>
                  <strong> </strong>
                  <span> </span>
                </div>
              </li>
            </ul>
  
            <div>
              <span> Total</span>
              <strong> 12.56</strong>
            </div>
          </section>
        </section>
      </div>
    </div>
  </aside>
</main>


