<body>
  <div class="grid-container">
      <div
        class="grid-item tall"
        style="background-image: url('https://i.imgur.com/zOrmJZn.jpg')"
      ></div>
      <div
        class="grid-item"
        style="
          background-image: url('https://i.imgur.com/OKGqLdQ.jpg');
        "
      ></div>

      <div
        class="grid-item"
        style="
          background-image: url('https://i.imgur.com/MKABIL7.jpg');
        "
      ></div>
      <div
        class="grid-item"
        style="
          background-image: url('https://i.imgur.com/iUAKLtZ.jpg');
        "
      ></div>
      <div
        class="grid-item"
        style="
          background-image: url('https://i.imgur.com/hyLMbvm.jpg');
        "
      ></div>
      <div
        class="grid-item"
        style="
          background-image: url('https://i.imgur.com/LOBQzML.jpg');
        "
      ></div>
      <div
        class="grid-item"
        style="
          background-image: url('https://i.imgur.com/jQ2SLy1.jpg');
        "
      ></div>
      <div
        class="grid-item"
        style="background-image: url('https://i.imgur.com/PpcHnjG.jpg ')"
      ></div>
      <div
        class="grid-item tall wide"
        style="
          background-image: url('https://i.imgur.com/uk8GZxZ.png'); 
        "
      ></div>
      <div
        class="grid-item"
        style="
          background-image: url('https://i.imgur.com/7kggoOI.jpg');
        "
      ></div>
      <div
        class="grid-item"
        style="
          background-image: url('https://i.imgur.com/hzA5Ntb.jpg');
        "
      ></div>
      <div
        class="grid-item"
        style="
          background-image: url('https://i.imgur.com/hHTIOfV.jpg');
        "
      ></div>
      <div
        class="grid-item"
        style="
          background-image: url('https://i.imgur.com/ogBvHl5.jpg');
        "
      ></div>
      <div
        class="grid-item"
        style="
          background-image: url('https://i.imgur.com/YWqeUdF.jpg');
        "
      ></div>
      <div
        class="grid-item"
        style="
          background-image: url('https://i.imgur.com/NVswQIl.jpg');
        "
      ></div>
      <div
        class="grid-item"
        style="
          background-image: url('https://i.imgur.com/qa4Iv4c.jpg');
        "
      ></div>
    </div>
</body>