<body>
    <div class="grid-container">
        <div
          class="grid-item tall"
          style="background-image: url('https://lh3.googleusercontent.com/pw/AM-JKLVGzpgQs2m0KWyKj9yb7kV_d4D93wddZln_veStUae9V2wgjW9YL8PLmKr5VbLjT2nNxEB-N6LHMNMnP5eG3wm3hFUIkw-rgrK35DwyqQH9jewwuRBxIm6UiPF1VxLInhfVoYEW96OqtyxdD26r1paO=w438-h657-no?authuser=0')"
        ></div>
        <div
          class="grid-item"
          style="
            background-image: url('https://lh3.googleusercontent.com/pw/AM-JKLVfOxEwVsmdPUSjAJjo6EGBYoFhnhAL-9f5Hr1RJMqoidQeJHPjKiR0D_xQ00YYo0rB1VAX6gS3aTtgj5QWitdwHthvZZGS6eYs4FRhpgXS9oxkyCgszR3j-on1LnWgsBbDLAVMcPRLs_GLaOrrlPPA=w986-h657-no?authuser=0');
          "
        ></div>
  
        <div
          class="grid-item"
          style="
            background-image: url('https://lh3.googleusercontent.com/pw/AM-JKLVQgRpEKTpt62pjAxVdz9Fq3Y-Hy-QS1bLrBFicuyidLduTrJVIEGr8NKwp_k-AMRrPmb-1SwkRhIeLnALcQOpXw_GKfhD3DOxj3lUUwgPIU8Vk0gNvqhL-c5U3WYLJMVrUwTSpahiL-CwSsXKqxeDm=w1020-h657-no?authuser=0');
          "
        ></div>
        <div
          class="grid-item"
          style="
            background-image: url('https://lh3.googleusercontent.com/pw/AM-JKLVeZkgAc9_0QazRy0b8kHcPRFUy05hRnRMdpblaIkr3mbc2rpaeGKweWfsti2ol3euK9KHPCY9ebK_-fyktEk4oBDT3o6safkXuceGGqJdkBqthB4q4LvHjTt4XlHmBnmUWQZTtfw__MAYlY9a-MBVU=w1366-h629-no?authuser=0');
          "
        ></div>
        <div
          class="grid-item"
          style="
            background-image: url('https://lh3.googleusercontent.com/pw/AM-JKLUxWBXCnfwaqjaBsyUzssCjH4EiqXp5Oc7chVlT5T3XQkpV5joCCWrqItLHWZgsSk-4H-a7OXRBg5BB8ZjK2ON6wWzeYDVcTsWQHDlcpVf2e1K0fOOkfhRvF4vcP5Hl2SXsEkpLEMHOb0kuQ_0whUCx=w986-h657-no?authuser=0');
          "
        ></div>
        <div
          class="grid-item"
          style="
            background-image: url('https://lh3.googleusercontent.com/pw/AM-JKLW3BE4xBwFQxaThyMY95Y7bPBPrc0bQ6mukVj4i75yZ8BrmpfgkfrTftRVajNasUtXHcCSsWbF6G5Eqew_ITHWG0dVY4zo3XG6atifrFBT4ittmE9k4AicfDe9ORSDW_u3wrglf93ALmb4h1U9HAW3a=w1053-h657-no?authuser=0');
          "
        ></div>
        <div
          class="grid-item"
          style="
            background-image: url('https://lh3.googleusercontent.com/pw/AM-JKLVXMnCWeGrAGbjvS4TBF_ZKFFtwezlllWTz_Opp54VzBpuF27NPssJZE0NeZV9REFUojOvMVwz7hZ4fPGFXW_3MbJ3SVobxloPAPkX0i_UbtKIcWk7Cv7hJ8SIusXl7w7Fto8O2O_Ra7SdhlmbLqZeo=w986-h657-no?authuser=0');
          "
        ></div>
        <div
          class="grid-item"
          style="background-image: url('/assets/Tiki del dia.png')"
        ></div>
        <div
          class="grid-item tall wide"
          style="
            background-image: url('/assets/Ceviche Jipijapa.png'); 
          "
        ></div>
        <div
          class="grid-item"
          style="
            background-image: url('/assets/Tiki a la plancha.png');
          "
        ></div>
        <div
          class="grid-item"
          style="
            background-image: url('/assets/Tiki a lo macho.png');
          "
        ></div>
        <div
          class="grid-item"
          style="
            background-image: url('/assets/Chicharron de camaron.png');
          "
        ></div>
        <!--<div
          class="grid-item"
          style="
            background-image: url('/assets/Ceviche de Concha.png');
          "
        ></div>
        <div
          class="grid-item"
          style="
            background-image: url('/assets/Ceviche Mixto.png');
          "
        ></div>
        <div
          class="grid-item"
          style="
            background-image: url('/assets/Tiki Punto G.png');
          "
        ></div>
        <div
          class="grid-item"
          style="
            background-image: url('/assets/Barcelona.png');
          "
        ></div>-->
      </div>
</body>