<div class="footer-dark">
    <footer style="position: relative;" >
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Integrantes</h3>
                    <ul>
                        <li><a>Juan, Erick</a></li>
                        <li><a>David; Marco</a></li>
                        <li><a>Mayra, Cindy</a></li>
                        <li><a>Deysi; Edwin</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Aplicativos Usados</h3>
                    <ul>
                        <li><a>Programación Web</a></li>
                        <li><a>Spring Boot</a></li>
                        <li><a>Materiales de Angular</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Acerca de</h3>
                    <p>HolaEats. <br>Una app diseñada para que ordenes los más exquisitos platillos hechos a base de
                        mariscos, página hecha con amor :D</p>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i
                            class="icon ion-social-twitter"></i></a><a href="#"><i
                            class="icon ion-social-snapchat"></i></a><a href="#"><i
                            class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">Hola La Ola © 2022</p>
        </div>
    </footer>
</div>