
<div class="container ">
  <mat-toolbar >
    <span>Pedidos</span>
  </mat-toolbar>
  <mat-form-field appearance="standard" >
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Buscar Pedido" #input />
  </mat-form-field>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="pedidos" >
      <ng-container matColumnDef="idPedido">
        <th mat-header-cell *matHeaderCellDef >Id</th>
        <td mat-cell *matCellDef="let pedidos">{{ pedidos.idPedido }}</td>
      </ng-container>
      <ng-container matColumnDef="tipoPago">
        <th mat-header-cell *matHeaderCellDef>Tipo de Pago</th>
        <td mat-cell *matCellDef="let pedidos">{{ pedidos.tipoPago }}</td>
      </ng-container>

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let pedidos">{{ pedidos.estado }}</td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef ></th>
        <td mat-cell *matCellDef="let pedidos;" style="text-align: center">
    
          <a class="pointer" (click)="eliminarPedido(pedidos)" matTooltip="Eliminar Pedido">
            <mat-icon color="warn"> delete </mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[3, 6, 9, 100]" aria-label="Seleccione la pagina de pedidos"></mat-paginator>
  </div>
</div>

<br>
<br>