<div class="card border-primary mb-3" >
    <div class="card-header">Empleados</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de Empleados</h5>
      <div class = "my-2 text-left">
          <button class = "btn btn-rounded btn-success" type="button" [routerLink]="['/empleados/form2']">Crear Empleado</button>
      </div> 
     <table class="table table-dark table-striped">
         <thead>
             <tr>
                <th>Id</th>
                 <th>Cedula</th>
                 <th>Nombre</th>
                 <th>Apellido</th>
                 <th>Email</th>
                 <th>Telefono</th>
                 <th>Direccion</th>
                 <th>Rol</th>
                 <th>Editar</th>
                 <th>Eliminar</th>
             </tr>
         </thead>
         <tbody>
             <tr *ngFor = "let empleado of empleados">
                 <td>{{empleado.personaId}}</td>
                 <td>{{empleado.cedula}}</td>
                 <td>{{empleado.nombre}}</td>
                 <td>{{empleado.apellido}}</td>
                 <td>{{empleado.correo}}</td>
                 <td>{{empleado.telefono}}</td>
                 <td>{{empleado.direccion}}</td>
                 <td>{{empleado.rol}}</td>
                 <td><button type="button" name="button" class="btn btn-warning" [routerLink]="['/empleados/form2', empleado.personaId]">Editar</button></td>
                 <td><button class="btn btn-danger" (click)="delete(empleado)">Eliminar</button></td>
                
           
                </tr>
         </tbody>
     </table>
    </div>
  </div>
